@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: antiquewhite;
    margin: 0 auto;
    width: 940px;
    font-family: Montserrat;
}

/* A */
div {
    border: none;
}
#logo {
    background-color: black;
    color: white;
    padding: 0 10px 0 10px;
}
#superior div {
    display: inline-block;
}
#showTotal {
    float: right;
    max-height: 85px;
}
#superior img {
    width: 33px;
    border: solid;
    position: relative;
    top: 9px;
}
#superior button{
    height: 40px;
    position: relative;
    bottom: 5px;
    border: solid;
    background-color: transparent;
}
#superior button:hover {
    color: antiquewhite;
    background-color: black;
    border: solid black;
}
#superior p {
    text-align: center;
}
.hide {
    display: none;
}
#measure {
    position: absolute;
    width: 20px;
    top: -0px;
    right: 335px;
}


/* B */
#content {
    margin-top: 20px;
}
#content div {
    width: 300px;
    height:412px;
    float: left;
    margin: 0 5px 0 5px;
}
#content img {
    width: 100%;
    overflow: h;
}
#content .imgItem {
    overflow: hidden;
}
#content .cost {
    position: relative;
    height: 109.8px;
    bottom: 110px;
    background-color: white;
    border-top: solid 6px antiquewhite;
}
#content button {
    position: relative;
    left: 150px;
    top: 20px;
    border: solid rgb(143, 10, 10);
    color: rgb(143, 10, 10);
    padding: 2px 20px;
    background: white;
}
#content button:hover {
    box-shadow: 0 0 10px blue;
}
.nameItem {
    background-color: white;
    border: solid  antiquewhite;
    position: absolute;
    top: 100px;
}